---
layout: default
---


      <div class="container">
         <div class="row container" id="wrapper">
            
            <!-- end panel-default -->
            <main class="col-xs-12 col-sm-12 col-md-12">
               <section id="content">
                  
                    <center> <h1 class="entry-header">{{ page.title }}</h1></center>
                     
                        
                              
                          

                         
                  {% if page.player %}
			<style>.video-wrapper{position:relative;padding-bottom:56.25%;height:0;overflow:hidden}.video-wrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%}</style>
                        
			  <div class="video-wrapper" id="video-wrapper">	
			<iframe id="playvideo" width="520" height="360" scrolling="no" src="{{ page.player.first }}" frameborder="0"  allowfullscreen></iframe>	
			</div>
				
                     <div class="clearfix"></div>
                  
			
				{% if page.player.size > 1 %}
			<div id="halim-list-server" class="list-eps-ajax">
			   <div class="halim-server show_all_eps">
			      <span class="halim-server-name"><span class="hl-server"></span> Server List</span>
			      <ul class="halim-list-eps" id="myDIV">
				{% for server in page.player %}
					<li class="halim-episode"><a href="#video-wrapper" id="playvideo" onclick="chap{{forloop.index0 | plus: 1 }}()"><span class="halim-btn halim-info-1-1 box-shadow" data-type="none">#{{forloop.index0 | plus: 1 }}</span></a></li>
					<script type="text/javascript">
					   function chap{{forloop.index0 | plus: 1 }}() {
					   document.getElementById("playvideo").src = '{{ server }}';
					   }
					</script>
				{% endfor %}
			      </ul>
			      <div class="clearfix"></div>
			   </div>
			</div>
				{% endif %}
				
                              <div class="clearfix"></div>
                  {% endif %}            
                  
                        
		       
		       <div class="clearfix"></div>
<div class="entry-content htmlwrap clearfix">
	<div class="clearfix"></div>
<div class="section-title"><span>Giới thiệu</span></div>
<div class="video-item halim-entry-box">

<p> {{ content }} </p>

</div> </div>
		       <div class="clearfix"></div>
<div class="htmlwrap clearfix">
<div class="fb-comments" data-href="https://anime24h.netfily.com" data-width="100%" data-mobile="true" data-colorscheme="dark" data-numposts="5" data-order-by="reverse_time"></div>
</div>
		       
               </section>
            </main>
         </div>
      </div>
      <!--./End .container -->	
